* {
    font-family: "Oswald", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-repeat: no-repeat;
    font-style: normal;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    margin: 0;
}

nav {
    padding-right: 19px;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    padding: 10px;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00E8FF;
    transition: width 0.25s ease;
}

nav a:hover::after {
    width: 100%;
}

h1 {
    font-size: 60px;
}

h1 a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

h1 a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: #00E8FF;
}

p {
    color: #FFFFFF;
}

span {
    color: #00E8FF;
}

footer {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.title {
    color: #FFFFFF;
}

.nav {
    font-size: 25px;
}

.wrapper {
    width: 80%;
    height: 80%;
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.container {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 700px;
    box-sizing: border-box;
    margin-top: 10px;
    box-shadow: 0 0 1px #00E8FF;
}

.banner-image img {
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    border-radius: 12px;
}

.h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 2.4rem;
    margin: 0;
    padding-top: 20px;
}

.h1-header {
    padding-left: 25px;
}

.h1-text {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}

.h1-experience {
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    margin: 10px;
}

.h1-skills {
    margin-bottom: 0;
    margin-top: 20px;
}

.h1-text img {
    padding-right: 11px;
}

.language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.language p {
    padding: 10px 24px;
    border-radius: 24px;
    border-width: 1px;
    margin: 15px 5px;
}

.html {
    background: #FC490B;
    ;
    color: #FFFFFF;
}

.css {
    background: #264DE4;
}

.js {
    background: #DDB700;
}

.python {
    background: linear-gradient(to right, #336D9D, #FFD640);
}

.django {
    background: #092E20;
}

.node {
    background: #529F41;
}

.react {
    background: #087EA4;
}

.tkinter {
    background: #FD0000;
}

.button-wrapper {
    margin-top: 20px;
}

.btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn+.btn {
    margin-left: 10px;
}

.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
}

.fill:hover {
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    transition: all .3s ease;
}

.outline {
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #00E8FF;
    transition: all .3s ease;
}

.outline:hover {
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;
}

.intro-text {
    position: absolute;
    color: #FFFFFF;
    font-size: 40px;
    top: 42%;
    top: 41.25%;
    left: 0.5px;
    z-index: 1;
}

.memoji-wrapper {
    position: absolute;
    top: 5%;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    width: 35%;
    height: 65%;
}

.memoji {
    width: 100%;
    height: 100%;
    transform: rotate(15deg);
    position: relative;
}

.social {
    display: grid;
    gap: 45px;
    padding-top: 23px;
    display: grid;
    gap: 47px;
    padding-top: 23px;
    padding-left: 65px;
    width: 15%;
    width: 15%;
}

.spacing {
    padding: 100px;
}

.spacing-text {
    height: auto;
    width: auto;
    position: absolute;
    top: 59px;
    left: 20%;
    z-index: 1;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}

.text {
    font-size: 25px;
    color: white;
}

.glow-box-text {
    margin: auto;
    padding: 1px 15px;
    width: 80%;
    box-shadow: 1px 1px 10px #00E8FF;
    border-radius: 10px;
}

.resume-text {
    text-align: center;
    font-size: 20px;
    color: #00E8FF;
    margin: 0;
}

.experience-text {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 15px
}

.summary {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 10px;
}

.progress-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 4px;
    background-color: #333;
    overflow: hidden;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.divider {
    margin: auto;
    padding: 1px 15px;
    width: 90%;
    box-shadow: 1px 1px 4px #00E8FF;
    border-radius: 10px;
}

.progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4, .progress-bar5, .progress-bar6, .progress-bar7 {
    height: 100%;
    background: #00E8FF;
}

.progress-bar1 {
    width: 97%;
}

.progress-bar2 {
    width: 68%;
}

.progress-bar3 {
    width: 6%;
}

.progress-bar4 {
    width: 42%;
}

.progress-bar5 {
    width: 59%;
}

.progress-bar6 {
    width: 89%;
}

.progress-bar7 {
    width: 33%;
}