* {
    font-family: "Oswald", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-repeat: no-repeat;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    margin: 0;
}

nav {
    padding-right: 10px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    padding: 10px;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00E8FF;
    transition: width 0.15s ease;
}

nav a:hover::after {
    width: 100%;
}

h1 {
    font-size: 60px;
    padding-left: 20px;
}

h1 a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

h1 a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color:  #00E8FF;
}

h1 a:hover::after {
    width: 100%;
}

p {
    color: #FFFFFF;
}

span {
    color: #00E8FF;
}

footer {
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.title {
    color: #FFFFFF;
}

.nav {
    font-size: 25px;
}

.wrapper {
    width: 80%;
    height: 80%;
  }

.parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.container {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 700px;
    box-sizing: border-box;
    margin-top: 10px;
    box-shadow: 0 0 1px #00E8FF;
}

.banner-image {
    background-image: url(https://images.unsplash.com/photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    border-radius: 12px;
}

.h1 {
    font-family: "Oswald", sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 2.4rem;
    margin: 0;
    padding-top: 25px;
}

.language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.language p {
    padding: 10px 24px;
    border-radius: 24px;
    border-width: 1px;
    margin: 15px 5px;
}

.html {
    background: #FC490B;
    ;
    color: #FFFFFF;
}

.css {
    background: #264DE4;
}

.js {
    background: #F7DF17;
}

.python {
    background: linear-gradient(to right, #3a76a6, #ffe66c);
}

.django {
    background: #092E20;
}

.button-wrapper {
    margin-top: 20px;
}

.btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn+.btn {
    margin-left: 10px;
}

.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
}

.fill:hover {
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    transition: all .3s ease;
}

.outline {
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #00E8FF;
    transition: all .3s ease;
}

.outline:hover {
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;
}

.intro-text {
    font-family: "Oswald", sans-serif;
    position: absolute;
    color: #FFFFFF;
    font-size: 40px;
    margin-top: 225px;
    width: 35%;
    left: 930px;
}

.memoji-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.memoji {
    height: 65%;
    width: 35%;
    transform: rotate(15deg);
    position: absolute;
    z-index: 1;
}

.spacing {
    height: 65%;
    width: 60%;
    position: relative;
    z-index: 1;
    padding: 20px;
    font-size: 30px;
    font-style: italic;
    margin-top: 5%;
    padding-left: 20%;
}

.glowing-divider {
    margin-top: 5%;
    margin-bottom: 1%;
    width: 100%;
    height: 5px;
    background-color: #000000;
    position: relative;
}

.glowing-divider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    left: 0;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
